@import 'bootstrap/dist/css/bootstrap.min.css'
@import 'nib'

font-roboto = 'Roboto', sans-serif
color-main =  #86939e

body
 font-family: font-roboto
 background: white

a
 &:link, &:visited
  color: color-main
 &:hover, &:active
  transition: all .5s ease
  text-decoration: none
  color: darken(color-main, 20%) 
 
header
 margin-top: 54px
 // border: 1px solid red
 .top-buttons
  text-align: right
  font-weight: 500
  color: color-main
  line-height: 1
  .free-trial
   padding:11px 0
   margin-right: 31px
  .buy-now
   border: 2px solid #e1e8ee
   background: transparent
   border-radius: 4px
   padding: 11px 24px
   transition: all .5s ease
   &:hover
    border-color: darken(#e1e8ee, 20%)
    
introduction
 &>.row
  margin-left:0
  margin-right:0
 display:block
 margin-top: 105px
 margin-bottom: 100px
 .graph-container
   position: relative;
   .tooltip
     &:after
       content: '';
       position:absolute;
       top: 100%;
       left: 50%;
       margin-left: -10px;
       border-top: solid 10px #838cc7;
       border-left: solid 10px transparent;
       border-right: solid 10px transparent;
     position:absolute
     background: #838cc7
     border-radius: 5px
     padding: 33px
     color: #fff
     .value
       display:block;
       letter-spacing: 2px
       font-size: 32px
       font-weight: 300
       text-align: center
     .month
       display: block;
       font-size: 16px
       font-weight: 400
       text-align: center;
 .footer
  h2
    font-size: 32px
    font-weight: 300
    color: #43484c
    margin: 0 auto
    text-align: center
    line-height: 1.5
  button
    border-radius: 5px
    color: #fff
    font-weight: 500
    background: #7dc855
    border:1px solid transparent
    padding: 23px 38px
    display: block
    margin: 0 auto
    margin-top: 40px
 .heading
  text-align:center
  margin: 0 auto
  h2,h3
   margin: 0
   line-height: 1.5
   font-weight: 300
  h2
   margin-bottom: 28px
   font-size: 52px
   color: #43484d
  h3
   font-size: 22px
   color: #5e6977
  .buy-now
   font-size: 16px
   font-weight: 500
   background: transparent;
   border: 1px solid #e1e8ee;
   border-radius: 5px;
   padding: 18px 31px;
   color: #86939e;
   margin-top: 53px;
   margin-bottom: 40px;
    
timeline
 display:block
 margin-top: 26px
 margin-bottom: 155px
 position: relative
 .wrapper
   width: 100%
   position: relative
 .line
   position:relative
   top: 10px
   background: #e1e8ee
   width: 100%;
   height: 1px;
 .button
   cursor: pointer
   height: 20px
   width: 42px
   background: #c2cbd2
   border-radius: 10px
   display: inline-block
   position:relative
   left: 50%
   .text
     font-size:14px
     color: #86939e
     width: 120px;
     margin-left: -30px;
     margin-top: 10px;
   .block
     &:first-child
       margin-left:15px
     display: inline-block
     width: 2px
     height: 10px
     background: #e7eaed
     
.testimonials
  margin-bottom: 85px
  .divider
    margin-bottom: 60px
    .line
      position: relative
      top: 23px
      height: 1px
      width: 100%
      background: #eeeeee
      z-index: -1
    .arrow
      cursor: pointer
      background: url('../images/arrow-down.png') #fff no-repeat center center
      width: 46px
      height: 46px
      margin: 0 auto
      border-radius: 23px
      box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1)
  .content
    .image
      text-align: center
    .text
      h2
        font-size: 32px
        font-weight: 300
        line-height: 1.5
        padding-right: 40px
        margin-bottom: 20px
        text-align: center
      .position
        font-size: 16px
        color: #86939e
        text-align: center
      .name
        font-size: 18px
        color:#43484d
        margin-bottom: 5px
        text-align: center
        
.license
  background: #f4f4f4
  padding-top: 100px
  padding-bottom: 78px
  h2
    font-size: 52px
    font-weight: 300
    color: #43484d
    margin-bottom: 80px
  button
    background: #7dc855
    line-height: 1
    border: 1px solid transparent
    font-size: 16px
    font-weight: 500
    color: #fff
    width: 100%
    height: 60px
  .license-box
    position: relative
    border-radius: 5px
    background: #fff
    box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.1);
    padding: 30px
    margin-bottom: 20px
    &.featured
      border: 2px solid #cee0ee
      &:before
        content:""
        display:block
        position: absolute
        background: url('../images/info.png') #ebf3fd no-repeat 28px 10px
        top:0 
        right:0
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 45px 60px 0;
        border-color: #fff transparent #fff #fff;
    h2
      margin-top: 25px
      margin-bottom: 15px
      font-size: 32px
    .description
      color: #86939e
      height: 80px
    .divider
      height: 1px;
      background: #e1e8ee
      margin-left: -30px
      margin-right: -30px
      margin-bottom: 28px
    .price
      margin-bottom: 30px
      .description
        display: flex
        align-items: center
        justify-content: center
    .free, .paid
      font-size: 52px
      font-weight: 300
      position: relative;
      
    .free
      color: #7dc855
    .paid
      display: inline-block
      position: relative
      color: #43484d
      margin-left: 12px
      span
        position: absolute;
        top: 5px;
        left: -15px;
        font-size: 27px;
        font-weight: 400;
   
.contact
  text-align: center
  padding: 70px 0 63px
  p
    font-size: 22px
    color: #5e6977
    font-weight: 300
    margin-bottom: 30px
  h2
    color:#43484d
    font-size: 52px
    font-weight: 300
    margin-bottom: 20px
  .form
    input[type=text]
      background: url("../images/email.png") #fff no-repeat 7px center;
      font-weight: 400;
      color: #5e6977;
      border: 2px solid #e1e8ee;
      border-right: none
      padding: 15px 30px;
      border-radius: 5px 0 0 5px;
      font-size: 16px;
      &:focus
        outline: none
    button
      border:none
      color: #fff
      font-weight: 500
      font-size: 16px
      border-radius: 0 5px 5px 0;
      background: #7dc855;
      padding: 17px 26px;
      margin-left: -4px
      &:focus
        outline: none

footer
  padding: 30px 0
  background: #86939e
  .logo
    text-align: center
    margin-bottom: 10px
  .copyright
    color: #fff
    font-size: 14px
    text-align: center
    margin-top: 13px
  .menu
    display: flex
    align-items: center
    justify-content: center
    margin: 10px 0 10px
    ul
      margin:0
      padding:0
      li
        list-style: none
        display:inline
        padding: 0 5px
        a
          font-size: 16px
          font-weight:500
          &:link, &:visited
            color: #fff

@import 'media'