
//col-sm-*
@media (min-width: 768px)
 .testimonials
  .content
   .text
    h2, .position, .name
     text-align: left
 .contact
  p
   padding: 0 110px
  input[type=text]
   width: 323px
 footer
  .menu
   ul li
    padding: 0 20px


// //col-md-*
@media (min-width: 992px) 
 header
  .logo
   margin-left: -145px
  .top-buttons
   margin-right: -145px;
 introduction
  .heading
   width: 635px;
  .footer
   h2
    width: 920px
 .license .license-box .price .description
  text-align:left
  max-width: 160px
  margin-left: 10px
 .contact
  p
   padding: 0 220px
  .form
   input[type=text]
    padding: 15px 51px
    background-position-x: 18px
   button
    padding: 17px 36px;


// //col-lg-*
@media (min-width: 1200px) 
 .contact
  p
   padding: 0 330px