
//col-sm-*
@media (min-width: 768px) {

}


// //col-md-*
@media (min-width: 992px) 
 header
  .logo
   margin-left: -15px
 introduction
  .heading
   width: 635px;


// //col-lg-*
@media (min-width: 1200px) {

}