
//col-sm-*
@media (min-width: 768px) {

}


// //col-md-*
@media (min-width: 992px) 
 header
  .logo
   margin-left: -145px
  .top-buttons
   margin-right: -145px;
 introduction
  .heading
   width: 635px;
  .footer
   h2
    width: 920px


// //col-lg-*
@media (min-width: 1200px) {

}