<div class="row">
  <div class="col-xs-12">
    <div class="heading">
      <h2>Share your Files with Ease</h2>
      <h3>We push ourselves to new levels of inspired excellence with each project and we sweat creativity.</h3>
    <button class="buy-now">Buy Now | €23</button>
    </div>
    <div class="graph-container">
      <canvas class="graph"></canvas>
      <div class="tooltip"></div>
    </div>
    <timeline id="timeline"></timeline>
    <div class="footer">
      <h2>We push ourselves to new levels of inspired excellence with each project and we sweat creativity. You won’t see anything until we’re done drooling at the result.</h2>
      <button>Buy now for €23</button>
    </div>
  </div>
</div>
